<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>

<table style="width:100%">
  <tr>
    <th>First Name</th>
    <th>Last Name</th> 
    <th>Phone Number</th>
    <th>Status</th>
  </tr>
  <tr *ngFor="let c of clients">
    <td>{{c.first_name}}</td>
    <td>{{c.last_name}}</td>
    <td>{{c.phone_number}}</td>
    <td>{{c.status}}</td>
  </tr>
</table>

</body>
</html>

<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>

<table style="width:100%">
  <tr>
    <th>Company Name</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Primary Contact First Name</th>
    <th>Primary Contact Last Name</th>
  </tr>
  <tr *ngFor="let c of companies">
    <td>{{c.name}}</td>
    <td>{{c.primary_phone}}</td>
    <td>{{c.primary_email}}</td>
    <td>{{c.contact_first_name}}</td>
    <td>{{c.contact_last_name}}</td>
  </tr>
  </table>





</body>
</html>

